.modaltext .title {
    font-size: 36px;
    height: 56px;
}

.modaltext .form-control {
    box-shadow: none;
    border: 0;
    box-shadow: none;
    padding: 0 5px;
    width: 100%;
}

.modaltext {
    margin: 0 31px;
}