.modalquote .title {
    font-size: 36px;
    height: 56px;
}

.modalquote .form-control {
    box-shadow: none;
    border: 0;
    box-shadow: none;
    padding: 0 5px;
    width: 100%;
}

.modalquote {
    margin: 0 31px;
}