.modalvideo .addvideo {
    height: 200px;
    background-color: #f3f3f3;
    color: #b2b2b2;
}

.modalvideo .addvideo.left {
    border-right: solid 1px #d5d5d5;
}

.modalvideo.row {
    margin: 0;
}

.modalvideo .modalvideo-logo {
    text-align: center;
}

.modalvideo .modalvideo-logo img {
    margin-top: 66px;
    height: 50px;
    opacity: .25;
}

.modalvideo .modalvideo-logo .modalvideo-subtitle {
    margin-top: 13px;
}

.modalvideo .input-file {
    position: absolute;
    width: calc(100% - 30px);
    height: 200px;
    opacity: 0;
}


.modalvideo .addvideo .loaded-video {
    position: absolute;
    max-width: 100%;
    max-height: 300px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.modalvideo .addvideo.final-video {
    height: 300px;
}

.modalvideo .form-control {
    box-shadow: none;
    border: 0;
    box-shadow: none;
    padding: 0 5px;
    width: calc(100% - 62px);
    margin: 0 31px;
}